@import url('./small.css');
@import url('./medium.css');
@import url('./large.css');
/*----------------------global----------------------*/
* {
  margin: 0px;
  padding: 0px;
}
/*----------------------container----------------------*/
#container {
  width: 100vw;
  height: auto;
  background-color: black;
}

/*----------------------header----------------------*/
#head {
  width: 100vw;
  height: 10vh;
  background-color: rgb(84, 82, 105);
}
/*-----------------------main-----------------------*/
#mn {
  width: 100vw;
  height: 80vh;
  background-color: rgb(127, 150, 215);
}
/*----------------------footer----------------------*/
#foot {
  width: 100vw;
  height: 10vh;
  background-color: blue;
}

